<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/Portuguese">Portuguese</a></li>
	    		</ul>
			</nav>
			<div class="container">
				<div id="wrapper">
        				<section id="content">           
            			
					{{ content }}
					
					</section>
    				</div>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:zdmullen@gmail.com">email</a></li>
	        		<li><a href="https://zdmullen.github.io">zdmullen.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
